In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
dataset=pd.read_csv("/content/sample_data/diabetes.csv")

In [ ]:
dataset

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [ ]:
scaler.fit(dataset.drop('Outcome',axis=1))

StandardScaler()

In [ ]:
feature_selection=scaler.transform(dataset.drop('Outcome',axis=1))
feature_selection

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [ ]:
new_dataset=pd.DataFrame(feature_selection)
new_dataset

            0         1         2  ...         5         6         7
0    0.639947  0.848324  0.149641  ...  0.204013  0.468492  1.425995
1   -0.844885 -1.123396 -0.160546  ... -0.684422 -0.365061 -0.190672
2    1.233880  1.943724 -0.263941  ... -1.103255  0.604397 -0.105584
3   -0.844885 -0.998208 -0.160546  ... -0.494043 -0.920763 -1.041549
4   -1.141852  0.504055 -1.504687  ...  1.409746  5.484909 -0.020496
..        ...       ...       ...  ...       ...       ...       ...
763  1.827813 -0.622642  0.356432  ...  0.115169 -0.908682  2.532136
764 -0.547919  0.034598  0.046245  ...  0.610154 -0.398282 -0.531023
765  0.342981  0.003301  0.149641  ... -0.735190 -0.685193 -0.275760
766 -0.844885  0.159787 -0.470732  ... -0.240205 -0.371101  1.170732
767 -0.844885 -0.873019  0.046245  ... -0.202129 -0.473785 -0.871374

[768 rows x 8 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x=new_dataset

In [ ]:
y=dataset['Outcome']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=40)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
from sklearn.metrics import confusion_matrix